@import './variables/fonts';
@import './variables/colors';

.pricing {
    width: 100%;
    height: 100vh;
    background-color: $header-color;
    font-family: $bolder-poppins;
    overflow: hidden;
    .gp {
        position: absolute;
        top: 5%;
        left: 35%;
        font-size: 50px;
    }
}
.arrow {
    color: $main-color;
    font-size: 50px;
}
.cart-container {
    padding: 20px;
    color: $main-color;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    text-align: center;
    align-items: center;
    height: 100%;
}
.tour {
    border: 1px solid $main-color;
    color: $main-color;
    height: 325px;
    line-height: 35px;
    p {
        border-bottom: 5px solid $main-color;
    }
    button {
        background-color: transparent;
        border: 2px solid $main-color;
        color: $main-color;
        padding: 7px 30px;
        cursor: pointer;
    }
}